<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Coronavirus Case Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1ba532aa4c.js" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <header>
      <h1 class="display-4">Coronavirus Case Tracker</h1>
      <p>This is an <i>unverified</i> list of COVID-19 cases acquired from CSSEGISandData. We used the data just for presentation purposes.</p>
    </header>

    <main class="container">
      <div id="subtitle">
        <p class="lead fBold"><strong>Reported Cases as of Today</strong></p>
        <h4 class="fLight" th:text="${totalReportedCases}"></h4>
        <hr class="btn-info">
        <p class="lead fBold"><strong>New Cases since Yesterday</strong></p>
        <h4 class="fLight" th:text="${totalNewCases}"></h4>
      </div>
 
      <div>
        <form action="#" th:action="@{/recovered}">
          <input type="text" name="name" id="name" hidden>
          <button type="submit" class="btn btn-info btn-lg btn-block fBold">
          	Click Here for Recovered Cases
      	  </button>
        </form>
      </div>
      <hr class="my-1">

      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col fBold">Country/Region/Sovereignty</th>
              <th class="col fBold">State</th>
              <th class="col fBold"></th>
              <th class="col fBold">Today Reported Cases</th>
              <th class="col fBold">Change from Yesterday</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="reportedRecord : ${reportedRecords}">
              <td class="fLight" th:text="${reportedRecord.getCountry()}"></td>
              <td class="fLight" th:text="${reportedRecord.getState()}"></td>
              <td>
                <a th:href="@{'/geolocation/'} 
                + ${reportedRecord.getLatitude()} + '/' + ${reportedRecord.getLongitude()}" style="text-decoration:none">
                  <i class="fas fa-map-marker-alt icon"></i>
                </a>
              </td>
              <td class="fLight" th:text="${reportedRecord.getLatestTotalReportedCases()}">0</td>
              <td class="fLight" th:text="${reportedRecord.getDiffFromPreviousDay()}">0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>